@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(4, 109, 0);
}
h1#principal {
    text-align: center;
    background-color: rgb(0, 109, 27);
    color: white;
}
h2 {
    color: rgb(49, 53, 77);
}
.basico  {
    color: #803636;
}
.intermediario {
    color: #803c3c;
}
.avançado {
    color: #463c80;
}